body {
    background-color: #f0f0f0;
}

header {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Align boxes at the top */
    gap: 20px; /* Space between boxes */
    padding-top: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    padding: 10px;
    border: 1px solid #fff;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.image-placeholder {
    background-color: #fff;
}

.large {
    width: 128px;
    height: 128px;
    margin-bottom: 10px;
}

.small {
    width: 96px;
    height: 32px;
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}